<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Blog &ndash; Layout Examples &ndash; Pure</title>
    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->





  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/blog.css">
    <!--<![endif]-->
  


    

    

</head>
<body>







<div id="layout" class="pure-g">

    <div class="sidebar pure-u-1 pure-u-md-1-4">


        <div class="header">

           
            

            <ul><nav class="nav">
                 <h1 class="brand-title">Topics</h1>
                <ul class="nav-list">
                    <li class="nav-item">
                       
                    </li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
                </ul>
            </nav>
                    
            

        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <header>
    <div class="container ">
        <h4></h4 >
        
   </div>
</header>
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="65" width="65" src="http://purecss.io/img/common/tilo-avatar.png">

                        <h2 class="post-title"><%= @post[0]['post_title'] %></h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="/topic/<%=@post[0]['post_topic']%>"><%= @post[0]['post_topic'] %></a> <a class="post-category post-category-pure" href="#">Pure</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            <%= @post[0]['post_content'] %>
                        </p>
                    </div>
                <article class="comment">
                  <a class="comment-img" href="#non">
                    <img src="http://lorempixum.com/50/50/people/7" alt="" width="50" height="50">
                  </a>
                  <div class="comment-body">
                    <div class="text">
                      <p>This is a much longer one that will go on for a few lines.</p>
                      <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                    </div>
                    <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
                  </div>
                </article>
                  <form action="/comment" method="post">
                    <textarea class="pure-input-1-4" name="message"placeholder="type comment here" cols="50" rows="5"></textarea>
                    <input type="hidden" name="post_id"value"<%= @post[0]['id'] %>">
                    
                    <br>
                    <br>
                    <button class="button-secondary pure-button">Replay</button>
                </form>

                </section>
                <p>post:<%= @post %> </p>
            </div>
            


            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>
