<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->





  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/blog.css">
    <!--<![endif]-->
  


    

    

</head>
<body>







<div id="layout" class="pure-g">

    <div class="sidebar pure-u-1 pure-u-md-1-4">


        <div class="header">

           
            

            <ul><nav class="nav">
                 <h1 class="brand-title">Topics</h1>
                <ul class="nav-list">
                    <li class="nav-item">
                       
                    </li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
                </ul>
            </nav>
                    
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <header>
    <div class="container ">
        <h4></h4 >
        
   </div>
</header>
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Post</h1>

          
                <!-- A single blog post -->
                <% if @post  %>
                <% @post.each do |post| %>
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="65" width="65" src="<%if @email %><%=@email  %><%end%>">

                        <h2 class="post-title"><%= post['post_title'] %></h2>

                        <p class="post-meta">
                            By <a href="/user/<%=post['post_by']%>" class="post-author"><% if @name%> <%=@pname =@name[0]['row'].gsub('(', '').gsub(')','').gsub(',',' ') %> <%end%></a> under <a class="post-category post-category-design" href="/topic/<%=@post[0]['post_topic']%>"><%= post['post_topic'] %></a> 
                            <a class="post-category post-category-edit" href="/edit/<%= post['id'] %>">edit</a> 
                             <a class="post-category post-category-edit" href="/delete/<%= post['id'] %>">delete</a>
                      
                      
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            <%= make_markdown(@post[0]['post_content'].to_s) %>
                        </p>
                    </div>

                    <% if @comments %>
                    <%@comments.each_with_index do |comment, i|%>
                    <h1 class="content-subhead"></h1>
                <article class="comment">
                  <a class="comment-img" href="#non">
                    <img src="<%if @comment_array %> <%=@comment_array[i] %> <%end %>" alt="" width="50" height="50">
                  </a>
                   
                  <div class="comment-body">
                    <div class="text">
                        <%= make_markdown(comment['comment_content']) %>

                      

                    </div>
                    <p class="attribution">by <a href="#non"><% if @comment_names%> <%=@pname =@comment_names[i]['row'].gsub('(', '').gsub(')','').gsub(',',' ') %><%end%> </a> at <%= comment['comment_date'] %></p>
                  </div>
                </article>

                <% end %>
                 <% end %>
                 

                  <form action="/comment" method="post">
                    <textarea class="pure-input-1-4" name="message"placeholder="Reply here" cols="50" rows="5"></textarea>
                   <input type="hidden" value="<%= post['id'] %>" name="post_id" />
                    
                    <br>
                    <br>
                    <button class="button-secondary pure-button" type ="submit">Replay</button>
                </form>

                </section>
                <% end %>
                <% end %>
               
            </div>
            
           

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>
